@import 'tailwindcss';

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-tertiary: #98ccff;
  --text-primary: #1d1d1d;
  --text-secondary: #9e9e9e;
  --border: #EEEEEE;
  --border-secondary: #e0ecf8;
  --cell-alive: #fafafa;
  --cell-dead: #ffffff;
  --accent: #47a3f3;
  --transition: 0.3s ease;
}

:root.dark {
  --bg-primary: #121212;
  --bg-secondary: #1f1f1f;
  --bg-tertiary: #062030;
  --text-primary: #ffffff;
  --text-secondary: #888888;
  --border: #0e0e0e;
  --border-secondary: #04151f;
  --cell-alive: #0e0e0e;
  --cell-dead: #000000;
  --accent: #386bad;
}

* {
  transition: color var(--transition),
              background-color var(--transition),
              border-color var(--transition),
              opacity var(--transition);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.link {
  color: var(--accent);
}

.link:hover {
  opacity: 0.8;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}
